.loader {
  &-container {
    background-color: #000000;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &__invisible {
      display: none;
    }
  }
}