.order {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: auto;

  &-stepper {
    flex: 0 1 72px;
  }

  &__buttons {
    padding: 20px;
  }

  &__container {
    flex: 1 1 auto;
    padding: 12px;
  }
}

.instructions {
  margin-left: 8px !important;
}

.button {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.navigation {
  &__buttons {
    border: 1px solid rgba(112, 112, 112, 0.5);
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
  }
}
