.auth {
  height: 75vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 36px;

  &-header {
    margin-top: 12px !important;
  }

  &-container {
    height: 100%;
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-submit {
    margin-bottom: 12px !important;
  }
}
