.dashboard {
  display: flex;
  flex-direction: column;
  height: 80vh;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      height: 150px;
      margin: 32px;
      -webkit-box-shadow: 0px 0px 8px -3px #000000;
      box-shadow: 0px 1px 4px -1px #000000;

      &-title {
        margin-top: 12px;
        margin-bottom: 48px;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
      }

      &-total {
        font-weight: 600;
        font-size: 21px;
        color: #1cacf4;
      }
    }
  }

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    &__orders {
      display: flex;
      flex-direction: column;
      width: 80vw;
      -webkit-box-shadow: 0px 0px 8px -3px #000000;
      box-shadow: 0px 1px 4px -1px #000000;

      &-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      &-order {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 12px;

        &__id {
          margin-bottom: 12px;
          font-size: 12px;
          font-weight: 400;
        }

        &__container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &-title {
            font-size: 14px;
          }

          &-client {
            font-size: 14px;
          }

          &-status {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.description {
  margin-right: 16px;
  font-weight: 100;
  font-size: 12px;
}
