.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-headline {
    width: 750px;
    margin-bottom: 48px;
    font-family: Lato;
    font-size: 31px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
  }

  &-subtitle {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.21;
    text-align: center;
  }

  &-categories {
    position: relative;
    top: -98px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    &__title {
      margin-bottom: 12px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.23;
      text-align: center;
    }

    &__icon {
      height: 100px;
      width: 100px;
    }
  }

  &-products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 64px;

    &-title {
      text-align: center;
      font-family: Lato;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.2;
      color: #707070;
    }

    &__divider {
      width: 0px;
      height: 300px;
      margin-left: 64px;
      margin-right: 48px;
      border: 0.5px solid #707070
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;

      &-image {
        margin-top: 24px;
        width: 150px;
        height: 150px;
      }

      &-button {
        width: 200px;
        height: 40px;
        margin-bottom: 16px;
        padding: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 40px;
        border: solid 1px #707070;

        &-text {
          font-family: HelveticaNeue;
          font-size: 18px;
          font-weight: 300;
          line-height: 1.21;
          text-align: center;
          color: #707070;
        }

        &-img {
          width: 15px;
          height: 15px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 108px;

    &-title {
      margin-bottom: 48px;
      font-family: Lato;
      font-size: 36px;
      font-weight: normal;
      line-height: 1.2;
      text-align: center;
      color: #707070;
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 48px;

        &-image {
          width: 100px;
          height: 100px;
          margin-bottom: 36px;
        }

        &-title {
          font-family: Lato;
          font-size: 21px;
          font-weight: normal;
          line-height: 1.2;
          text-align: center;
          color: #707070;
        }

        &-divider {
          width: 150px;
          height: 0;
          border: solid 0.5px #445cc7;
          margin-top: 12px;
          margin-bottom: 12px;
        }

        &-description {
          width: 250px;
          height: 36px;
          font-family: Lato;
          font-size: 14px;
          font-weight: normal;
          line-height: 1.2;
          text-align: center;
          color: #707070;
        }
      }
    }
  }

  &-pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      margin-top: 80px;
      margin-bottom: 100px;
      font-family: Lato;
      font-size: 36px;
      font-weight: normal;
      line-height: 1.2;
      text-align: center;
      color: #707070;
    }

    &__container {
      display: flex;
      flex-direction: row;

      &-item {
        width: 250px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &-image {
          position: relative;
          top: -30px;
        }

        &-level {
          margin-bottom: 12px;
          font-family: Lato;
          font-size: 13px;
          font-weight: bold;
          line-height: 1.2;
          text-align: center;
        }

        &-price {
          font-family: Lato;
          font-size: 32px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: center;
        }

        &-divider {
          width: 200px;
          height: 1px;
          margin-bottom: 36px;
          background-color: #bce0fd;
        }

        &-description {
          margin-bottom: 48px;
          font-family: Lato;
          font-size: 12px;
          font-weight: 200;
          line-height: 1.21;
          text-align: center;
        }

        &-button {
          width: 120px;
          height: 40px;
          border-radius: 4px;
          font-family: Lato;
          font-size: 10px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 40px;
          letter-spacing: normal;
          text-align: center;
          color: #000108;
          background-color: #ffffff;
        }
      }
    }

    &-link {
      margin-top: 84px;
      font-family: Lato;
      font-size: 20px;
      font-weight: normal;
      line-height: 1.23;
      text-align: center;
      color: #707070;

      &-link {
        text-decoration: none;
        font-weight: bold;
        color: #445cc7;
      }
    }
  }

  &-testimonials {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 120px;

    &-title {
      width: 100%;
      margin-bottom: 32px;
      text-align: center;
      font-family: Lato;
      font-size: 36px;
      font-weight: normal;
      line-height: 1.2;
      color: #707070;
    }

    &__item {
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      &-image {
        height: 100px;
        width: 100px;
        margin: 56px;
      }

      &-testimony {
        text-align: center;
        width: 39.5%;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.23;
        color: #707070;
      }

      &-user {
        margin-top: 24px;
        font-family: HelveticaNeue;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.22;
        text-align: center;
        color: #707070;

        &-title {
          font-weight: normal;
        }
      }
    }
  }

  &-payments {
    &-title {
      margin: 64px;
      font-family: Lato;
      font-size: 36px;
      font-weight: normal;
      line-height: 1.2;
      text-align: center;
      color: #707070;
    }
    &__container {
      &-image {
        margin: 24px;
      }
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &-title {
      margin: 60px;
      font-family: Lato;
      font-size: 26px;
      font-weight: 100;
      line-height: 2.14;
      text-align: center;
    }

    &-button {
      width: 220px;
      height: 65px;
      border-radius: 24px;
      font-family: Lato;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 65px;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.67);
      background-color: #ffffff;
    }
  }
}

.superscript {
  font-size: 18px;
  margin-right: 3px;
}
