.row {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  label {
    span {
      align-self: center;
    }
  }
}

.uploader {
  &__button input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
  }

  &__container {
    border: 1px dashed #445cc7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    border-radius: 10px;
    margin-top: 10px;
    height: 100px;

    img {
      width: 20%;
    }

    a {
      position: relative;
      text-decoration: none;
      color: blue;
      cursor: pointer;
    }
  }
}

.hovering .uploader__container {
  background: #e6e6e6;
  border-radius: 10px;
}
