.header {
  position: sticky;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &-title {
    font-family: Lato;
    font-size: 25px;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    color: #707070;
    text-decoration: none;
    margin-left: 100px;
    width: 210px;
  }

  &-nav {
    height: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    margin-right: 48px;

    &__item {
      width: 120px;
      height: 35px;
      margin: 4px;
      font-family: Lato;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.23;
      line-height: 35px;
      text-align: center;
      color: #707070;
      text-decoration: none;
      transition: border 500ms ease-in-out;
      transition: border-radius 300ms ease-in-out;

      &:hover {
        border: solid 2px #445cc7;
        border-radius: 12px;
        background-color: #ffffff;
        transition: border 500ms ease-in-out;
        transition: border-radius 300ms ease-in-out;
      }
    }
  }
}
