.register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-textField {
    width: 70%;
    margin-top: 48px !important;
  }

  &-submit {
    margin-top: 30px !important;
  }
}
