.footer {
  width: 100vw;
  height: 200px;
  padding-top: 84px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #445cc7;
  color: #f7f7f7;

  &-links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

    &__item {
      margin-right: 100px;
      text-decoration: none;
      font-family: Lato;
      font-size: 11px;
      font-weight: normal;
      line-height: 1.71;
      text-align: left;
      color: #f7f7f7;
    }
  }

  &-socials {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-right: 100px;

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-image {
        width: 9px;
        height: 9px;
        margin-right: 24px;
      }

      &-link {
        text-decoration: none;
        font-family: Lato;
        font-size: 11px;
        font-weight: normal;
        line-height: 1.71;
        text-align: left;
        color: #f7f7f7;
      }
    }
  }

  &-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &-title {
      margin-bottom: 20px;
      text-decoration: none;
      font-family: Lato;
      font-size: 11px;
      font-weight: normal;
      line-height: 1.71;
      text-align: left;
      color: #f7f7f7;
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      &-input {
        width: 150px;
        height: 25px;
        outline: none;
        margin-right: 24px;
        padding-left: 24px;
        border: solid 1px #ffffff;
        color: #ffffff;
        background-color: #445cc7;

        &::placeholder {
          color: #ffffff;
        }
      }

      &-button {
        width: 35px;
        height: 25px;
        color: #445cc7;
        background-color: #ffffff;
        font-family: Lato;
        font-size: 11px;
        font-weight: normal;
        line-height: 25px;
        text-align: center;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}